# Application 
NODE_ENV=development
APP_PORT=3000
APP_PREFIX=api/v1

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=virtufit_db
POSTGRES_USER=virtufit_user
POSTGRES_PASSWORD=virtufit_password

# MongoDB
MONGO_URI=mongodb://localhost:27017/virtufit

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

# gRPC
GRPC_AI_HOST=localhost
GRPC_AI_PORT=50051

# AI Service
AI_SERVICE_URL=http://localhost:8000