# Application
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=virtufit_db
POSTGRES_USER=virtufit_user
POSTGRES_PASSWORD=virtufit_password

MONGO_URI=mongodb://localhost:27017/virtufit

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50051

# Security
JWT_SECRET=change_this_secret_in_production

# ML Models
MODELS_DIR=app/models/weights
DEVICE=cpu